<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8" >
    <title>todo list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>


<h1>todo list</h1>

<div class="container">
    <div class="text-center">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" width="5%">ID</th>
                <th scope="col" width="40%">할일</th>
                <th scope="col" width="20%">참조</th>
                <th scope="col" width="15%">등록일</th>
                <th scope="col" width="15%">수정일</th>
                <th scope="col" width="5%">완료</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo : ${todolist}">
                <th th:text="*{todo.todoId}" scope="row"></th>
                <td><input type="text" th:value="*{todo.contents}" th:class="|contents-*{todo.todoId}|"></td>
                <td th:text="*{todo.reference}"></td>
                <td th:text="*{todo.createdDatetime}"></td>
                <td th:text="*{todo.updatedDatetime}"></td>
                <td th:text="*{todo.completeYn}"></td>
                <td><button th:onclick="|completeTodo(*{todo.todoId})|">완료</button></td>
                <td><button th:onclick="|modifyTodo(*{todo.todoId})|">수정</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br><br><br>
<section>
    <span>할 일</span>
    <input type="text" id="contents" name="contents" />
    <span>참조</span>
    <input type="text" id="reference" name="reference" />
    <button id="btn_reg">등록</button>
</section>

<script>
    $("document").ready(function() {
        $("#btn_reg").click(addTodo);
    });

    function addTodo() {
        var contents = $("#contents").val();
        var reference = $("#reference").val();
        $.ajax({
          url: "/add-todo",
          data: {
            "contents": contents,
            "reference": reference
          },
          method: "POST",
          dataType: "json",
          success: function(result) {
            alert("성공");
          },
          error: function(result) {
            alert("실패");
          }
        });
    };

    function modifyTodo(id) {
        var className = '.contents-' + id;
        var contents = $(className).val();
        $.ajax({
          type: "PUT",
          url: "/modify-todo",
          contentType : "application/json",
          dataType: "json",
          data : JSON.stringify({
            todoId: id,
            contents: contents
          }),
          success: function(result) {
            alert("성공");
          },
          error: function(result) {
            alert("실패");
          }
        });
    };

    function completeTodo(id) {
        $.ajax({
          type: "PUT",
          url: "/complete-todo/" + id,
          contentType : "application/json",
          dataType: "json",
          success: function(result) {
            alert("성공");
          },
          error: function(result) {
            alert("실패");
          }
        });
    };
</script>

</body>
</html>
